/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

[class*="col-"] {
    width: 100%;
    margin: 1em;
    text-align: center;
    
} 

/* MOBILE FIRST */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    /* responsive design for home page */
    .larger-heading{
        font-size: 0px;
    }

    .larger-subheading{
        font-size: 0px;
    }

    /* responsive design for form page */
    input, textarea {
        width: 30px;
        border: 2px solid #999;
        resize: vertical;
    }

} 

/* LARGER SCREENS */
@media only screen and (min-width: 768px) {

    .row {
        display: inline-block;
        width: 100%;
        height: 28px;
    }

    .row-6{
        text-align: center;
        display: inline-block;
        width: 50%;
        border: 1px solid black;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

.container {
    padding: 15px;
}

.card-title{
	color:rgb(60, 130, 196);
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 20px;
}

#home-background{
    background: url("example.png");
    height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	position: absolute;
    left: 0;
    top: 0;
}

.larger-heading{
	padding-top: 100px;
	padding-bottom: 20px;
	font-size: 70px;
	color: rgb(60, 130, 196);
	font-weight: bold;
	opacity: 0.8;
	text-shadow: 2px 2px darkgrey;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
	text-align: center;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;	
	color: white;
}

.home-sub{
	padding-left: 60px;
	padding-right: 60px;
	display: inline-block;
	font-size: 30px;
	text-align: center;
	opacity: 0.8;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;	
	color: white;
}

.nav-link {
	padding-left: 60px;
	padding-right: 60px;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	opacity: 0.8;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;	
	text-decoration: underline;
	color: rgb(60, 130, 196);
}

nav {
    text-align: center;
    margin: 0;
    padding: 0;
}

.display-4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}

.jumbo{
    width: 70%;
    text-align: center;
    margin: 40px auto;
    /* background-color: darkkhaki; */
}
/* #f0b464 */

.homejumbo{
	width: 80%;
    text-align: center;
    margin: 40px auto;
	background-image: url("background.jpg");
	background-size: cover;
}

.dropdown{
	margin: 20px;
}

.dropdown-menu{
	width: 100%;
}

.lower_height{
	height: 100px;
}

h1{
	color: rgb(26, 83, 85);
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* text-align: center; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
